<div class="container">
    <div id="courseAssessmentsList">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Due Date</th>
                <th scope="col">Total Questions</th>
                <th scope="col">Privacy</th>
              </tr>
            </thead>
            <tbody *ngFor = "let result of Assessments">
              <tr>
                <td scope="row">{{ result.assessmentId }}</td>
                <td scope="row"><a href="#"> {{ result.description }}</a></td>
                <td scope="row">{{result.due_date}}</td>
                <td scope="row">{{result.total_questions}}</td>
                <td scope="row"> {{ result.shared }} </td>
              </tr> 
              
            </tbody>
          </table>
      </div>

</div>

