<div class="container">



        <div class="card border-primary mb-3 w-100">
          <div class="card-header">Tagalog 101</div>
          <div class="card-body text-primary">
            <div id="questionPart">
              <h5 class="card-title">1. What is the correct spelling for beautiful in tagalog?</h5>
              <p class="card-text">Supplemental text here.</p>
            </div>
            <div id="answerPart">
                <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optradio">Maganda
                    </label>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optradio">Magoda
                    </label>
                  </div>
                  <div class="form-check disabled">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="optradio">Mandago
                    </label>
                  </div>
              </div>
          </div>
        </div>

    

    
  
  
  </div> <!-- /container -->