  <div class="container">
    
    <!-- Static navbar -->
 
   

    
    <div id="home">
    <section class="page-section about-heading">
      <div class="container">
        <div>
          <img class="img-fluid homeImage" src="assets/IMAGES/classroom.jpeg" alt="">

        </div>
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-8">
                  <span class="section-heading-upper">Customize your assessments to your changing classrooms.</span>
                  <div class="section-heading-lower">Diverse Students. Diverse tests.</div>
                </h2>
                <p>Message here.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="card-columns">
        <div class="card bg-light">
          <div class="card-body text-center">
            <p class="card-text">Teachers</p>
          </div>
        </div>
        <div class="card bg-light">
          <div class="card-body text-center">
            <p class="card-text">Students</p>
          </div>
        </div>
      </div>
    </div> 
  </div> 
