<div class="container">
    <div id="courseList">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Total Assessments</th>
                <th scope="col">Total Students</th>
              </tr>
            </thead>
            <div *ngFor = "let result of courses; let i = index">
              <courses-table [course]="result" [index]="i"></courses-table>
            </div>
            
          </table>
      </div>
  
  </div>


