<div id="courseList" >
    <h3>My Courses</h3>
    <table class= "table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Total Assessments</th>
          <th scope="col">Date Created</th>
          <th scope="col">Privacy</th>
        </tr>
    </thead>
      <div *ngFor= "let result of Courses">
          <tbody style="font-size:10pt;">
              <tr>
                <td> {{result.courseId}}</td>
                <td> {{result.name}}</td>
                <td> {{result.total_assessments}}</td>
              </tr>
          </tbody>
          </div>
    </table>
      <!--<app-course-list></app-course-list> -->
</div>  